<br><br><br>
<div class="container">

    <div class="row">
        <div class="col-lg-6 border border-primary " >
            <p class="fw-bolder fs-1 text">REVISA </p>
            <p class="fw-bolder fs-1 text"> NUESTROS HORARIOS </p>
            <p class="fw-bolder fs-1 text"> DE CLASE </p>
        </div>

        <div class="col-lg-6">
            <div class="ratio ratio-16x9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jZ30nlTWWlw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <br><br><br>
    <img src="../../../assets/img/logo.png" class="rounded mx-auto d-block">
<br><br>
    <table class="table">
        <thead>
            <tr class="text-white bg-dark">
                <th scope="col">Id</th>
                <th scope="col">Clase</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Inicia</th>
                <th scope="col">Termina</th>
            </tr>
        </thead>
        <tbody class="text-white">
            <tr class="bg-info">
                <th scope="row">1</th>
                <td>Fundamentos de Mercado</td>
                <td>En la actualidad, la finalidad del marketing es construir relaciones redituables con los clientes.
                    Este proceso empieza con el entendimiento de las necesidades y los deseos de los consumidores, con
                    la determinación de los mercados meta que puedan servir mejor a la organización, y con el diseño de
                    una propuesta de valor persuasiva para atraer, mantener y aumentar el numero de consumidores meta.
                    El marketing es mucho mas que una simple función de negocios asilada: es una filosofía que guía a
                    toda la organización.</td>
                <td>11:00:00
                </td>
                <td>16:00:00</td>
            </tr>
            <tr class="bg-dark">
                <th scope="row">2</th>
                <td>Gestión Tributaria</td>
                <td>La gestión tributaria es una parte importante de tu empresa, y a la que debes prestar especial
                    atención para cumplir con tus obligaciones. Recordemos que una buena gestión te permitirá llevar
                    correctamente la fiscalidad y la contabilidad, además de evitar imprevistos y problemas de liquidez.
                </td>
                <td>16:10:00</td>
                <td>18:10:00</td>
            </tr>
            <tr class="bg-info">
                <th scope="row">3</th>
                <td>Calculo Diferencial</td>
                <td>El cálculo diferencial es una parte del cálculo infinitesimal y del análisis matemático que estudia
                    cómo cambian las funciones continuas según sus variables cambian de estado. El principal objeto de
                    estudio en el cálculo diferencial es la derivada.</td>
                <td>08:45:00</td>
                <td>11:00:00</td>
            </tr>
            <tr class="bg-dark">
                <th scope="row">4</th>
                <td>Fisica Calor</td>
                <td>En esta clase se vera todo lo referente a la termodinámica, sus formulas y diferentes tipos de calor
                    en física.</td>
                <td>17:00:00</td>
                <td>20:00:00</td>
            </tr>
            <tr class="bg-info">
                <th scope="row">5</th>
                <td>Base de Datos</td>
                <td>En esta clase se le enseñara al estudiante a montar bases de datos e imprimirlas de acuerdo a lo que
                    se requiere, así mismo, creara columnas con diferentes tipos de datos y aprenderá a crear llaves
                    foráneas si se requieren.</td>
                <td>07:30:00</td>
                <td>09:00:00</td>
            </tr>
            <tr class="bg-dark">
                <th scope="row">6</th>
                <td>Estadistica Inferencial</td>
                <td>La estadística inferencial es una parte de la estadística que comprende los métodos y procedimientos
                    que por medio de la inducción determina propiedades de una población estadística, a partir de una
                    parte de esta.</td>
                <td>14:00:00</td>
                <td>16:30:00
                </td>
            </tr>
            <tr class="bg-info">
                <th scope="row">7</th>
                <td>Metodologia de la Investigacio</td>
                <td>La metodología de la investigación es el método que utilizarás para resolver un problema de
                    investigación mediante la recopilación de datos utilizando diversas técnicas, proporcionando una
                    interpretación de los datos recopilados y sacando conclusiones sobre los datos de la investigación.
                </td>
                <td>08:00:00</td>
                <td>10:00:00
                </td>
            </tr>
            <tr class="bg-dark">
                <th scope="row">8</th>
                <td>Finanzas de Corto Plazo</td>
                <td>Las finanzas a corto plazo son las que velan por que la empresa cuente con los recursos necesarios
                    para mantener su liquidez a corto plazo y que además tener los medios disponibles para hacer frentes
                    imprevistos.</td>
                <td>15:00:00</td>
                <td>18:00:00</td>
            </tr>
        </tbody>
    </table>

</div>